@import "../../../node_modules/table-actions/dist/table-actions.min.css";
@import "./buttons.css";

body {
  /* Use better OS default fonts */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
} 

.mct {
  margin: 15px 30px;
  padding: 20px 25px;
  border-radius: .25rem;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 600px;
}

.mct__title {
  font-weight: 600;
  color: #374151;
  margin: 8px 0px;
}

.mct-select {
  display: flex;
  flex-direction: column;
}

.mct-select__element {
  padding: 4px 8px;
  font-size: .6rem;
  font-weight: 600;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.mct-select__element:disabled {
  background-color: rgb(249, 249, 243);
  color: #ccc;
  cursor: default;
}

.mct-select__label {
  font-size: .6rem;
  font-weight: 600;
  color: #374151;
  user-select: none;
}

.mct-canva {
  width: 100%;
  height: 475px;
}

.mct-canva-year {
  border-radius: .25rem;
  color: #334155;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0px auto;
  max-width: fit-content;
  padding: 6px 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 26px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  user-select: none;
}

.mct-legend {
  position: absolute;
  top: 425px;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
}

.mct-legend__gradient {
  width: 20px;
  height: 120px;
  background: linear-gradient(
    180deg,
    rgb(13, 0, 161),
    rgb(47, 56, 126),
    rgb(23, 93, 137),
    rgb(43, 115, 177),
    rgb(116, 177, 182)
   
  );
  border-radius: .25rem;
}

.mct-legend__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0px;
  font-weight: 600;
  color: #374151;
  font-size: .70rem;
}

.mct-legend-text {
  font-weight: 600;
  font-size: .6rem;
  width: 150px;
  color: #374151;
  padding-top: 4px;
}

.mct-legend-source {
  font-weight: 600;
  font-size: .55rem;
  width: 150px;
  color: #4b5563;
}


/* Spinner */

.spinner-container {
  height: 100%;
  position: relative;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0,0,0,.1);
  border-radius: 50%;
  border-top-color: rgba(64, 42, 196, .8);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* Demo purposes resize box */

.resizable-container {
  background-color: #ccc;
  position: relative;
  width: 800px;
  min-width: 450px;
  border: 1px solid gray;
}

.resizable-content {
  width: 100%;
  height: 100%;
}

.resizable-handle {
  position: absolute;
  top: 0;
  right: 0; /* Offset the handle slightly to the right */
  width: 10px;
  height: 100%;
  background-color: gray;
  cursor: col-resize; /* Set cursor to horizontal resize icon */
}
